/* These are the window dimensions for use
 in responsive sizing calculations */
$full-width: 100vw
$full-height: 100vh

$body-margin-lr: calc($full-width / 40)
$body-margin-tb: calc($full-height / 40)

$title-font: 'Quantico', sans-serif

body
    margin: $body-margin-tb $body-margin-lr

    header.page-header
        display: flex
        flex-direction: column
        justify-content: space-around
        align-items: center
        margin: 0
        background-color: burlywood
        font-family: $title-font

        h1
            margin-block-start: 0
            margin-block-end: 0

    main
        display: grid
        grid-template-rows: minmax(30px, 2fr) minmax(300px, 20fr)
        grid-template-columns: minmax(300px, 20fr) minmax(150px, 10fr) minmax(300px, 20fr)
        grid-template-areas: 'human-header info-header ai-header' 'human-table info-area ai-table'

        header
            background-color: seagreen
            display: flex
            justify-content: center
            align-items: center
        .board-header
            font-size: 3vw
        #info-header
            grid-area: info-header
            font-size: 2.5vw
        #human-board-header
            grid-area: human-header
        #ai-board-header
            grid-area: ai-header

        div
            display: grid

        div.board
            background-color: blue
            aspect-ratio: 1
            grid-template-rows: 1fr 10fr 1fr
            grid-template-columns: 1fr 10fr 1fr

            div.table
                grid-column-start: 2
                grid-column-end: 2
                display: grid
                grid-template-columns: repeat(10, 1fr)
                grid-template-rows: repeat(10, 1fr)

                div.cell
                    border: 1px solid black
                    text-align: center
                    font-size: 2.5vw
                div.hit-ship
                    background-color: tomato
                div.sunk-ship
                    background-color: maroon
                div.miss
                    background-color: whitesmoke
                div.water
                    background-color: blue
                div.fog-of-war
                    background-color: #414141
                div.healthy-ship
                    background-color: rgb(122, 122, 122)

            section
                background-color: lightgray
                display: grid

            section.left, section.right
                grid-row-start: 2
                grid-template-rows: repeat(10, 1fr)
            section.left
                grid-column-start: 1
            section.right
                grid-column-start: 3

            section.top, section.bottom
                grid-column-start: 2
                grid-template-columns: repeat(10, 1fr)
            section.top
                grid-row-start: 1
            section.bottom
                grid-row-start: 3

        #human-board
            grid-area: human-table
        #ai-board
            grid-area: ai-table

        #info-panel
            grid-area: info-area
            background-color: cornflowerblue
            grid-template-rows: 7fr 1fr 1fr 1fr 2fr
            align-items: stretch
            justify-items: stretch

            #ship-status
                display: grid
                grid-template-rows: 1fr 1fr 5fr
                grid-template-columns: 1fr 1fr

                div
                    border: 1px solid black

                div.status-title
                    background-color: cornflowerblue
                    width: 100%
                    text-align: center
                    padding-top: 5px

                div.status-subtitle
                    font-size: 1.5vw

                #status-main-title
                    grid-column: 1 / 3
                    font-size: 2vw

                div.status-list
                    grid-row-start: 3
                    display: grid
                    grid-template-rows: repeat(5, 1fr)

                    div.human-status, div.ai-status
                        display: flex
                        justify-content: space-evenly

                        div.human-square, div.ai-square
                            background-color: darkgrey
                            border: 1px solid black
                            aspect-ratio: 1 / 1
                            align-self: center
                            height: 1.5vmax
                            text-align: center
                            vertical-align: middle
                            font-size: 1.2vw

            #records
                grid-row-start: 2
                display: flex
                justify-content: center
                align-items: center

                div.record-section
                    font-size: 1.2vw
                    flex: 0 0 40%

            #input-area
                grid-row: 3 / 5
                display: flex
                flex-direction: column
                justify-content: space-evenly
                align-items: center

                div.radio-section
                    display: flex
                    justify-content: space-evenly
                    align-items: center

                    label
                        font-size: 1.2vw

            #instructions
                grid-row-start: 5
                display: flex
                flex-direction: column
                justify-content: flex-start
                align-items: center
                font-size: 1.2vw

    div.error-section
        background-color: burlywood
        font-size: 2vw
        min-height: 3vw
