.page-header {
    display: flex;
    justify-content: space-around;
    background-color: burlywood;
    align-items: center;
    flex-direction: column;
    margin: 0;
}
h1, h3, h5{
    margin-block-start: 0;
    margin-block-end: 0;
}

main {
    display: grid;
    grid-template-rows: minmax(30px, 2fr) minmax(300px, 20fr);
    grid-template-columns: minmax(300px, 20fr) minmax(150px, 10fr) minmax(300px, 20fr);
    grid-template-areas: 
        'human-header info-header ai-header'
        'human-table info-area ai-table';
}

.board-header {
    background-color: seagreen;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3vw;
}
#info-header {
    background-color: seagreen;
    grid-area: info-header;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5vw;
}
#human-board-header {
    grid-area: human-header;
}
#ai-board-header {
    grid-area: ai-header;
}
.board {
    background-color: lightgray;
    aspect-ratio: 1;
}
#human-board {
    grid-area: human-table;
    display: grid;
    grid-template-rows: 1fr 10fr 1fr;
    grid-template-columns: 1fr 10fr 1fr;
}
#ai-board {
    grid-area: ai-table;
    display: grid;
    grid-template-rows: 1fr 10fr 1fr;
    grid-template-columns: 1fr 10fr 1fr;
}

.table {
    grid-column-start: 2;
    grid-row-start: 2;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
}

.left, .right, .top, .bottom {
    background-color: lightgray;
    display: grid;
}
.left {
    grid-column-start: 1;
    grid-row-start: 2;
    grid-template-rows: repeat(10, 1fr);
}
.right {
    grid-column-start: 3;
    grid-row-start: 2;
    grid-template-rows: repeat(10, 1fr);
}
.top {
    grid-column-start: 2;
    grid-row-start: 1;
    grid-template-columns: repeat(10, 1fr);
}
.bottom {
    grid-column-start: 2;
    grid-row-start: 3;
    grid-template-columns: repeat(10, 1fr);
}

.cell {
    border: 1px solid black;
}
.water {
    background-color: blue;
}
.fog-of-war {
    background-color: #414141;
}
.healthy-ship {
    background-color: rgb(122, 122, 122);
}

#info-panel {
    background-color: cornflowerblue;
    grid-area: info-area;
    display: grid;
    grid-template-rows: 7fr 1fr 1fr 1fr 2fr;
    align-items: stretch;
    justify-items: stretch;
}
#ship-status {
    display: grid;
    grid-template-rows: 1fr 1fr 5fr;
    grid-template-columns: 1fr 1fr;
}
.status-title{
    background-color: cornflowerblue;
    width: 100%;
    text-align: center;
    padding-top: 5px;
    border: 1px solid black;
}
.status-subtitle {
    font-size: 1.5vw;
}
#status-main-title {
    grid-column: 1 / 3;
    font-size: 2vw;
}
.status-list {
    grid-row-start: 3;
    border: 1px solid black;
    display: grid;
    grid-template-rows: repeat(5, 1fr);
}
.human-status, .ai-status {
    display: flex;
    justify-content: space-evenly;
}
.human-square, .ai-square {
    background-color: darkgrey;
    border: 1px solid black;
    aspect-ratio: 1 / 1;
    align-self: center;
    height: 1.5vmax;
    text-align: center;
    vertical-align: middle;
    font-size: 1.2vw;
}
#records {
    grid-row-start: 2;
    display: flex;
    justify-content: center;
    align-items: center;
} 
.record-section {
    font-size: 1.2vw;
    flex: 0 0 40%;
}
#input-area {
    grid-row: 3 / 5;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.radio-section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

label {
    font-size: 1.2vw;
}
#instructions {
    grid-row-start: 5;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-size: 1.2vw;
}
.error-section{
    background-color: burlywood;
    font-size: 2vw;
    min-height: 3vw;
}
.miss {
    background-color: whitesmoke;
}
.cell {
    text-align: center;
    font-size: 2.5vw;
}
.hit-ship {
    background-color: tomato;
}
.sunk-ship {
    background-color: maroon;
}