.page-header {
    display: flex;
    justify-content: space-around;
    background-color: burlywood;
    align-items: center;
}

h3, h5{
    margin-block-start: 0;
    margin-block-end: 0;
}
main {
    display: grid;
    grid-template-rows: minmax(30px, 2fr) minmax(300px, 20fr);
    grid-template-columns: minmax(300px, 20fr) minmax(150px, 10fr) minmax(300px, 20fr);
    grid-template-areas: 
        'human-header info-header ai-header'
        'human-table info-area ai-table';
}

.board-header {
    background-color: chartreuse;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#info-header {
    background-color: seagreen;
    grid-area: info-header;
    display: flex;
    justify-content: center;
    align-items: center;
}
#human-board-header {
    grid-area: human-header;
}
#ai-board-header {
    grid-area: ai-header;
}
.board {
    background-color: rgb(119, 107, 189);
    aspect-ratio: 1;
}
#human-board {
    grid-area: human-table;
    display: grid;
    grid-template-rows: 1fr 10fr 1fr;
    grid-template-columns: 1fr 10fr 1fr;
}
#ai-board {
    grid-area: ai-table;
    display: grid;
    grid-template-rows: 1fr 10fr 1fr;
    grid-template-columns: 1fr 10fr 1fr;
}

.table {
    background-color: red;
    grid-column-start: 2;
    grid-row-start: 2;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
}

.left, .right, .top, .bottom {
    background-color: darkgrey;
    display: grid;
}
.left {
    grid-column-start: 1;
    grid-row-start: 2;
    grid-template-rows: repeat(10, 1fr);
}
.right {
    grid-column-start: 3;
    grid-row-start: 2;
    grid-template-rows: repeat(10, 1fr);
}
.top {
    grid-column-start: 2;
    grid-row-start: 1;
    grid-template-columns: repeat(10, 1fr);
}
.bottom {
    grid-column-start: 2;
    grid-row-start: 3;
    grid-template-columns: repeat(10, 1fr);
}

.cell {
    border: 1px solid black;
}

#info-section {
    background-color: blue;
    grid-area: info-area;
}