.page-header {
    display: flex;
    justify-content: space-around;
    background-color: burlywood;
    align-items: center;
}

main {
    display: grid;
    grid-template-columns: 40% 20% 40%;
}

.board {
    background-color: cadetblue;
    display: grid;
    grid-template-rows: 10% 550px;
}

.board-header {
    display: flex;
    justify-content: space-around;
    background-color: chartreuse;
    align-items: space-between;
}

.table-holder {
    background-color: darkgrey;
    display: flex;
    align-items: center;
    justify-content: center;
}

.table {
    background-color: rgb(119, 107, 189);
    width: 70%;
    height: 70%;
    display: grid;
    grid-template: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
    justify-items: stretch;
    align-items: stretch;
}