.page-header {
    display: flex;
    justify-content: space-around;
    background-color: burlywood;
    align-items: center;
}

h3, h5{
    margin-block-start: 0;
    margin-block-end: 0;
}
main {
    display: grid;
    grid-template-rows: minmax(30px, 2fr) minmax(300px, 20fr);
    grid-template-columns: minmax(300px, 20fr) minmax(150px, 10fr) minmax(300px, 20fr);
    grid-template-areas: 
        'human-header info-header ai-header'
        'human-table info-area ai-table';
}

.board-header {
    background-color: chartreuse;
}
#human-board-header {
    grid-area: human-header;
}
#ai-board-header {
    grid-area: ai-header;
}

/*
.letter, .number {
    background-color: darkgrey;
}
.letter{
    aspect-ratio: .05;
}
#human-left {
    grid-area: human-table-left;
}
#human-right {
    grid-area: human-table-right;
}
#human-top {
    grid-area: human-table-top;
}
#human-bottom {
    grid-area: human-table-bottom;
}
#ai-left {
    grid-area: ai-table-left;
}
#ai-right {
    grid-area: ai-table-right;
}
#ai-top {
    grid-area: ai-table-top;
}
#ai-bottom {
    grid-area: ai-table-bottom;
}
*/
.table {
    background-color: rgb(119, 107, 189);
    aspect-ratio: 1;
}
#human-table {
    grid-area: human-table;
}
#ai-table {
    grid-area: ai-table;
}

#info-options-header {
    background-color: seagreen;
    grid-area: info-header;
}
#info-section {
    background-color: blue;
    grid-area: info-area;
}